/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
/* Bakgrundsfärg */
body{
    background-color:rgb(39, 38, 38);
}
/* För main-containern, innehåller allt förutom nav-bar  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
/* titel */
main h1{
    border-bottom: 2px white solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/* För bild och första artiklen i "about me" */
.mainimg{
    width: 30%;
    border-radius: 50%;
}
main > article {
    margin: 4%;
    margin-bottom: 0%;
    padding: 0.5rem;
    background-color: brown;
}
/* För text som ska visas när man håller över bilderna på startsidan */
.overlay{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: brown;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article:hover .overlay {
    opacity: 1;
  }
  /* fördelare av artiklar, delar upp artiklarna i två, höger och vänster */
.mainbranch1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.mainbranch1 article{
    position: relative;
    flex-basis: 42%;
    margin: 4%;
    min-height: 5rem;
    background-color: brown;
    overflow: none;
}
article img{
    width: auto;
    max-width: 100%;
}
/* Tar bort bakgrund för bilder */
#removebackground{
    background-color: transparent;
}
/* För den stora bilden i projekt visningen,
 gör så att bilden hänger med och att den inte blir för hög */
.window{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    max-height: 30rem;
}
/* För dem små bilderna. */
.projectdisplay{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-top: 1rem;
    justify-content: flex-start;
}
.projectdisplay img{
    width: 33%;
    height: 100%;
    padding: 1%;
}
/* För Navbar  */
nav{
    background-color: brown;
    position: fixed;
    border-top: 2px solid rgb(39, 38, 38);
    border-bottom: 10px solid rgb(39, 38, 38);
    bottom: 0px;
    height: 4rem;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    z-index: 2;
}
/* För checkbox */
#som{
    flex-basis: 2rem;
    margin: 1rem;
}
/* För containern av länkar/kort */
#hand{
    flex-direction: row;
    display: none;
    position: relative;
    flex-basis: 100%;
    align-items: flex-end;
}
/* För kort */
.cardinhand{
    background-color: brown;
    position: relative;
    flex-basis: 10rem;
    border: 2px solid black;
    border-radius: 10%;
    margin: 0.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    aspect-ratio: 0.7;
}
.cardinhand img{
    width: 100%;
}
.bordradius{
    border-radius: 50%;
}
.cardinhand:hover{
    bottom: 1rem;
    flex-basis: 13rem;
}
/* täcker kortet med länken */
.cardinhand a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 253, 7, 0);
}
/* För fotnoten */
footer{
    display: block;
    color: white;
    position: absolute;
    right: 1rem;
    align-self: center;
    z-index: -10;
}